@font-face {
  font-family: "JPN30";
  src: url("JPN30.woff") format("woff");
}

@font-face {
  font-family: "ANK30";
  src: url("ANK30.woff") format("woff");
}

:root {
  font-family: "ANK30", monospace;
  background-color: #f0f0f0;
  color: #2b2b46;
}

body > div#app {
  padding: 0 30px;
  max-width: 800px;
  min-height: calc(100vh - 200px);
}

nav {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    to bottom,
    #f0f0f0 80%,
    #f0f0f0cc 90%,
    transparent
  );
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0 20px;
  display: flex;
}

nav li {
  margin: 0 10px;
  font-size: 1.8rem;
}

nav a {
  color: #2b2b46;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

#wallet-address {
  font-size: 1.5rem;
  font-style: italic;
  color: lightslategray;
}

h1 {
  color: #f08000;
  font-family: "JPN30", monospace;
  letter-spacing: 0.5rem;
  text-decoration: underline 4px;
  font-size: 3.5rem;
  margin-top: 0px;
}

p,
span {
  font-size: 2rem;
}

button {
  font-family: "ANK30", monospace;
  font-size: 2rem;
  border-radius: 2px;
  padding: 10px 20px;
  margin: 10px;
  background-color: #f08000;
  box-shadow: 2px 2px #a1a09d;
}

button:hover {
  text-decoration: underline 2px;
  box-shadow: 5px 5px #a1a09d;
}

dialog {
  background-color: #e0e0e0;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer li {
  display: inline;
  margin: 0 10px;
}

footer a {
  color: royalblue;
  text-decoration: none;
  font-size: 1.5rem;
}

.bananapus {
  color: #f08000;
  text-decoration: underline;
  font-size: 2.8rem;
}

li {
  font-size: 2rem;
}

input {
  font-family: "ANK30", monospace;
  font-size: 2rem;
  padding: 10px 20px;
  background-color: #ffffff;
  border: 1px solid #a1a09d;
  border-radius: 2px;
}

#tiers-menu {
  overflow-y: auto;
  max-height: 65vh;
  border: 1px solid #a1a09d;
}

.nft-div {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #a1a09d;
  height: 150px;
  cursor: pointer;
  position: relative;
}

.nft-div input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
  align-self: center;
  margin-left: 10px;
  flex-shrink: 0;
}

.nft-div img {
  width: 100px;
  height: 100px;
  margin-left: 10px;
}

.text-section {
  flex-grow: 1;
  margin-left: 12px;
  display: flex;
  flex-direction: column;
  /*justify-content: top;*/
  min-width: 0; /* Needed for text-overflow to work with flex */
}

.text-section .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  font-style: italic;
  font-size: 1.8rem;
  text-decoration: none;
  color: #2b2b46;
}

.text-section .external-link:hover {
  text-decoration: underline;
  color: royalblue;
}

.text-section .description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  white-space: normal;
  display: -webkit-box; /* Required for line-clamp */
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.nft-div ul {
  margin-left: 10px;
  font-size: 14px;
  width: 150px;
  flex-shrink: 0;
}

.full-screen-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 0 5px;
  margin: 0;
  font-size: 0.8rem;
}

.text-section a:hover {
  text-decoration: underline;
}
