@font-face {
  font-family: "JPN30";
  src: url("JPN30.woff") format("woff");
}

@font-face {
  font-family: "ANK30";
  src: url("ANK30.woff") format("woff");
}

:root {
  font-family: "ANK30", monospace;
  background-color: #f0f0f0;
  color: #2b2b46;
}

body > div#app {
  padding: 0 30px;
  min-height: calc(100vh - 200px);
}

nav {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0 20px;
  display: flex;
}

nav li {
  margin: 0 10px;
  font-size: 1.8em;
}

nav a {
  color: #2b2b46;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

h1 {
  color: #f08000;
  font-family: "JPN30", monospace;
  letter-spacing: 0.5rem;
  text-decoration: underline 4px;
  font-size: 3.5em;
  margin-top: 0px;
}

p,
span {
  font-size: 2em;
}

button {
  font-family: "ANK30", monospace;
  font-size: 2em;
  border-radius: 2px;
  padding: 10px 20px;
  margin: 10px;
  background-color: #f08000;
  box-shadow: 2px 2px #a1a09d;
}

button:hover {
  text-decoration: underline 2px;
  box-shadow: 5px 5px #a1a09d;
}

dialog {
  background-color: #e0e0e0;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer li {
  display: inline;
  margin: 0 10px;
}

footer a {
  color: royalblue;
  text-decoration: none;
  font-size: 1.5em;
}

#wallet-address {
  font-size: 1.5em;
  font-style: italic;
  color: lightslategray;
}
